#wrapper {
    display: grid;
    grid-template-areas:
    'hd'
    'ft';
    grid-template-rows: 20rem 20rem;
}

header {
    grid-area: hd;
    display: grid;
    display: flex;
    background-color: darkslateblue;
}


ul {
    list-style-type: none;
}

li {
    display: inline;
}

footer {
    grid-area: ft;
    background-color:dodgerblue;
    padding-top: 2rem;
}

#logo {
    height: 7rem;
}

#footerlogga {
    display: flex;
    justify-content: center;
}

#footerinfo {
    display: flex;
    justify-content: space-around;
}