#wrapper {
    display: grid;
    grid-template-areas:
    'hd'
    'mn'
    'ft';
    grid-template-rows: 33rem 50rem 30rem;
}

header {
    grid-area: hd;
    background-color: rgb(159, 212, 185);
}

#upp {
    display: grid;
    grid-template-areas: 
    'h5 nav';
}

h5 {
    display: flex;
    justify-content: flex-start;
    grid-area: h5;
    font-family: 'Playfair Display';
    margin-left: 3rem;
    margin-top: 2rem;
    font-size: 3em
}

nav {
    display: flex;
    justify-content: flex-end;
    grid-area: nav;
    font-family: 'Lato';
    margin-right: 3rem;
    margin-top: 3rem;
}

#upp2 {
    display: grid;
    grid-template-areas: 
    'logo1 h1'
    'logo1 h2';
    grid-template-columns: 16rem 40rem;
    grid-template-rows: 7rem 10rem;
    width: 65%;
    margin: auto;
}

h1 {
    grid-area: h1;
    font-family: 'Playfair Display';
    font-size: 4em;
}

h2 {
    grid-area: h2;
    font-family: 'Lato';
    font-size:1.5em;
}

#logo1 {
    height: 15rem;
    grid-area: logo1;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

main {
    grid-area: mn;
    background-color: rgb(252, 195, 152);
}

#fyrasteg {
    background-color: indianred;
    margin: 5rem;
}

#fyra {
    display: flex;
    justify-content: space-around;
}

#ett {
    display: flex;
    justify-content: center;
    background-color: maroon;
}

#a {
    margin: 2rem;
}

h3 {
    font-family: 'Playfair Display';
}

h4 {
    font-family: 'Playfair Display';
}

#review {
    width: 11rem;
}

#boxreview1 {
    background-color: mediumseagreen;
}

#boxreview2 {
    background-color: crimson;
}

footer {
    grid-area: ft;
    background-color:rgb(91, 169, 139);
    padding-top: 2rem;
}

#logo2 {
    height: 9rem;
}

#footerlogga {
    display: flex;
    justify-content: center;
}

#footerinfo {
    display: flex;
    justify-content: space-around;
}

h6 {
    font-family: 'Playfair Display';
    font-size: 18px;
}

p {
    font-family: 'Lato';
}

#findus { 
    height: 3rem;
}

#contactus {
    height: 3rem;
}

#followus {
    height: 3rem;
}

#openinghours {
    height: 3rem;
}